* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {list-style: none;}

body {
  background: linear-gradient(45deg, #F7A4A4, #FBFACD, #CFF5E7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  width: 420px;
  height: 670px;
  border-radius: 50px;
  border: 1px solid #ccc;
}
.todo_container {
  width: 400px;
  height: 650px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50px;
}

.today {
  /* background: linear-gradient(45deg, #3F3B6C, #624F82, #9F73AB); */
  background-color: #DD5353;
  color: #fff;
  width: 400px;
  height: 100px;
  display: flex;
  margin-left: -1px;
  justify-content: space-between;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px 10px;
}
.date {
  width: 15%;
  font-size: 50px;
  line-height: 1.5;
  text-align: right;
}
.date_box {
  width: 60%;
  font-size: 20px;
  padding: 10px;
}

.day {
  width: 25%;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  margin-top: 35px;
}
.add_content {
  /* background-color: #ccc; */
  width: 400px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
}
.add_content input {
  width: 380px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: none;
}
.add_content button {
  width: 40px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-left: none;
}

h4 {
  height: 40px;
  padding: 10px 20px;
  font-size: 12px;
  color: rgb(140, 139, 139);
  /* background-color: #000; */
}

.todo_list {
  /* background-color: #ccc; */
  margin: 0 auto;
  width: 360px;
  height: 410px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.todo_list li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.check_box {
  /* background-color: pink; */
  width: 40px;
}
.check_box input {
  transform: scale(1.5);
  margin-left: 7px;
  margin-bottom: 20px;
  accent-color: #DD5353;
  margin-top: 5px;
}
.list_box {
  /* background-color: purple; */
  width: 400px;
  font-size: 16px;
}


h5 {
  position: absolute;
  top: 50px;
  color: rgb(140, 139, 139);
}